<table>
    Your Resolved Tickets:
    <hr>
    <tr *ngFor = "let ticket of tickets">
        <!--
        <td>
            <h1>{{ticket.description}}</h1>
        </td>        
        -->
        Ticket ID: {{ticket.id}} <br>
        Amount: ${{ticket.amount}} <br>
        Date Submitted: <br>
        Description: {{ticket.description}} <br>
        Resolver: {{ticket.resolver}} <br>
        Status: {{ticket.status}} <br>
        Reimbursement Type: {{ticket.type}}
        <hr>
    </tr>
</table>