<div class="topnav">
    <div class="login-container">
      <form>
        <div *ngIf="invalidInput">
          Invalid Credentials
        </div>
      <input 
        [(ngModel)]="inputUsername" placeholder="Username" name="username">
      <input 
        [(ngModel)]="inputPassword" type="text" placeholder="Password" name="password">
      <button 
        [disabled]="!(inputUsername && inputPassword)"
        (click)="submit()"
      >Login</button>
      <button type="submit" name="logout">Logout</button>
      </form> 
  </div>

</div>
